!!! 5
html(lang="en")

    head
        title= title
        meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
        meta(name="robots",content="index, follow")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="/favicon.ico")
        link(rel="apple-touch-icon-precomposed",href="/apple-touch-icon-precomposed.png")

        //if IE
            meta(http-equiv="imagetoolbar", content="no")
            script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")

        link(rel="stylesheet",href="/styles/style.css",type="text/css",media="screen")

        -if (tk != "") {
            script(src="http://use.typekit.com/#{tk}.js")
            script
                try{Typekit.load();}catch(e){}

            script
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-29708411-1']);
                _gaq.push(['_trackPageview']);

                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
        - }

    body

        #wrapper

            header
                h1(data-bind="style: { 'fontSize': headerSizePx }") What the F*******k?

            != body

            footer
                small WTF itself runs on <a href="/s/node" data-bind="click: set">Node</a>, <a href="/s/express" data-bind="click: set">Express</a>, <a href="/s/knockout" data-bind="click: set">Knockout</a>, <a href="/s/ender" data-bind="click: set">Ender</a> and <a href="/s/underscore" data-bind="click: set">Underscore</a>.
                small Detailing <a href="/s/anything" data-bind="click: set">#{data.items.length}</a> frameworks since March 04 2012.
                small Tweet <a class="ext" href="http://www.twitter.com/fulljames">@fulljames</a> or pull-request on <a class="ext" href="https://github.com/fulljames/wtf">Github</a> to suggest more.
                small Devised by <a class="ext" href="http://fulljames.net">Stephen</a>. Designed by <a class="ext" href="http://threefour.co.uk">Alex</a>.
                small See also <a class="ext" href="http://microjs.com">Micro JS</a>.

        script
            var data = !{JSON.stringify(data)};

        script(src="/js/lib/ender.min.js")
        script(src="/js/site.js")